/* Global CSS */
html, body {
  overflow-x: hidden;
}

header {
  line-height: 2.5em;
  margin: 2em auto;
  text-align: center;
  
  h1 {
    font-family: $font-header;
    font-size: 3em;
    letter-spacing: 0.08em;
  }
  p {
    color: $grey;
    font-family: $font-serif;
    font-size: 1.4em;
    text-transform: lowercase;
  }
}

nav {
  color: $black;
  font-family: $font-body;
  font-size: 1.2em;
  margin: 1em;
  text-align: center;
  text-transform: uppercase;

  li {
    display: inline;
    padding: 0.8em;
  }

  a {
    color: black;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: none;

    @include transition(0.5s ease-in-out);
  }
  a:hover {
    letter-spacing: 0.2em
  }
  a:visited {
    color: $grey
  }
}

/* Special Styles */
.container {
  width: 80%;
}

