@import url(https://fonts.googleapis.com/css?family=Open+Sans|Monserrat|Lato|Corbel|Century|Josefin+Sans|Josefin+Slab|La+Belle+Aurore);

/* Fonts */
$font-body: 'Montserrat', 'Open Sans', 'Corbel', sans-serif;
$font-header: 'Josefin Sans', 'Lato', sans-serif;
$font-serif: 'Century', 'Josefin Slab', Garamond, serif;
$font-fancy: 'La Belle Aurore';

/* Colors */
$black: rgba(0, 0, 0, 0.8);
$grey: rgba(0, 0, 0, 0.5);
$white: rgba(0, 0, 0, 0.8);