@import url(https://fonts.googleapis.com/css?family=Open+Sans|Monserrat|Lato|Corbel|Century|Josefin+Sans|La+Belle+Aurore);

$font-body: 'Montserrat', 'Open Sans', 'Corbel', sans-serif;
$font-header: 'Century', Garamond, serif;
$font-header2: 'Josefin Sans', 'Lato', sans-serif;
$font-fancy: 'La Belle Aurore';